/* CSS3 selectors */

.banners {
    display: flex;
    flex-wrap: wrap;
  }
  
  .banner {
    width: 50%;
    margin: 10px;
    border: 1px solid black;
  }
  
  .banner:hover {
    border-color: red;
  }
  
  .banner-content {
    padding: 10px;
  }
  
  /* Pseudo classes */
  
  .banner:hover .banner-content {
    background-color: yellow;
  }
  
  /* Pseudo elements */
  
  .banner-content::after {
    content: "";
    display: block;
    clear: both;
  }
  